.dados-abertos-filter {
  background-color: #34495e; 
  padding: 20px;
  margin-top: 20px;
}

.dados-abertos-filter form {
  float: right;
}

/* DADOS-ABERTOS-MENU   */
#dados-abertos-menu,
#dados-abertos-menu ul,
#dados-abertos-menu li,
#dados-abertos-menu a {
  border: none;
  margin: 0;
  padding: 0;
  line-height: 1;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}

#dados-abertos-menu {
  height: 37px;
  display: block;
  padding: 0;
  margin: 0;
  width: auto;
}

#dados-abertos-menu,
#dados-abertos-menu > ul > li > ul > li a:hover {
  background: #34495e;
}

#dados-abertos-menu > ul {
  list-style: inside none;
  padding: 0;
  margin: 0;
}

#dados-abertos-menu > ul > li {
  list-style: inside none;
  padding: 0;
  margin: 0;
  float: left;
  display: block;
  position: relative;
}

#dados-abertos-menu > ul > li > a {
  outline: none;
  display: block;
  position: relative;
  padding: 12px 20px;
  text-align: center;
  text-decoration: none;
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.4);
  font-weight: bold;
  font-size: 13px;
  font-family: Arial, Helvetica, sans-serif;
  color: #ffffff;  
  text-transform: uppercase;
}

#dados-abertos-menu > ul > li > a:hover {
  background: #080808;
  color: #ffffff;
}

#dados-abertos-menu > ul > li:first-child > a {
  border-radius: 5px 0 0 5px;
}

#dados-abertos-menu > ul > li > a:after {
  content: '';
  position: absolute;
  top: -1px;
  bottom: -1px;
  right: -2px;
  z-index: 99; 
}

#dados-abertos-menu ul li.has-sub:hover > a:after {
  top: 0;
  bottom: 0;
}

#dados-abertos-menu > ul > li.has-sub > a:before {
  content: '';
  position: absolute;
  top: 18px;
  right: 6px;
  border: 5px solid transparent;
  border-top: 5px solid #ffffff;
}

#dados-abertos-menu > ul > li.has-sub:hover > a:before {
top: 19px;
}

#dados-abertos-menu ul li.has-sub:hover > a {
  background: #3f3f3f;
  border-color: #3f3f3f;
  padding-bottom: 13px;
  padding-top: 13px;
  top: -1px;
  z-index: 999;
}

#dados-abertos-menu ul li.has-sub:hover > ul,
#dados-abertos-menu ul li.has-sub:hover > div {
  display: block;
}

#dados-abertos-menu ul li.has-sub > a:hover {
  background: #3f3f3f;
  border-color: #3f3f3f;
}

#dados-abertos-menu ul li > ul,
#dados-abertos-menu ul li > div {
display: none;
width: auto;
position: absolute;
top: 38px;
padding: 10px 0;
background: #3f3f3f;
border-radius: 0 0 5px 5px;
z-index: 999;
}

#dados-abertos-menu ul li > ul {
  width: 200px;
}

#dados-abertos-menu ul li > ul li {
  display: block;
  list-style: inside none;
  padding: 0;
  margin: 0;
  position: relative;
}

#dados-abertos-menu ul li > ul li a {
  outline: none;
  display: block;
  position: relative;
  margin: 0;
  padding: 8px 20px;
  font: 10pt Arial, Helvetica, sans-serif;
  color: #ffffff;
  text-decoration: none;
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.5);
  text-transform: uppercase;
}

#dados-abertos-menu ul ul a:hover {
  color: #ffffff;
}

#dados-abertos-menu > ul > li.has-sub > a:hover:before {
  border-top: 5px solid #ffffff;
}

#dados-abertos-menu .active {
  background-color: #0669a3;
}
/* END DADOS-ABERTOS-MENU */

/* DADOS-ABERTOS-TABLE */
#dados-abertos-table .empty-row {
  color: #535353;
  background-color: #fff;
  text-align: center;
}

#dados-abertos-table .empty-row:hover {
  color: #535353;
  background-color: #fff;
}

.datatable-filter-line {
  display: none;
}
#dados-abertos-table th {
  color: #34495e; 
  text-transform: uppercase;
}

#dados-abertos-table .input-group-addon {
  color: #34495e;
}

#dados-abertos-table tbody {
  background-color: #fff;
}

#dados-abertos-table td {
  vertical-align: middle;
}

#dados-abertos-table > tbody > tr:hover {
  background-color: #34495e;
  color: #fff;
}

#dados-abertos-table .empty-row:hover {
  background-color: #fff;
  color: #535353;
}
/* END DADOS-ABERTOS-TABLE */

/* DADOS-ABERTOS-PAGER */
#dados-abertos-pager .active a {
  background-color: #34495e;
  border-color: #34495e;
  color: #fff;
}

#dados-abertos-pager  a {
  color: #34495e;
}

#dados-abertos-pager ul {
  cursor: pointer;
}

#dados-abertos-pager {
  text-align: left;
}
/* END DADOS-ABERTOS-PAGER */

/* SORT HEADER */
.sorting {
	cursor: pointer ;
	background-image: url("../images/sort_both.png") ;
    background-repeat: no-repeat;
    background-position: center right;
}

.sorting-desc {
	background-image: url("../images/sort_desc.png") ;
}

.sorting-asc {
	background-image: url("../images/sort_asc.png") ;
}
/* END SORT HEADER  */

/* PAGE LENGTH*/
#dados-abertos-page-length {
  margin: 20px 0;
  text-align: right;
  padding-right: 30px;
}

#dados-abertos-page-length label {
  margin-top: 5px;
  padding: 0;
}

#dados-abertos-page-length select {
  padding: 0;
}

#dados-abertos-page-length select {
  padding: 0;
}
/* END PAGE LENGTH*/
